.graph {
  display: flex;
  justify-content: center;
}

.graphItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: auto;
  margin-bottom: 40px;
}

.graph button {
  width: 435px;
  margin-top: 0px;
}

