html {
  background-color: #333363;
}

h1,p,span, label {
  --type-first: var(--type-first-roboto);
  font-family: var(--type-first);
  color: white;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

button {
  margin-top: 0px;
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  color: white;
  background-color: #454564;
  border: 3px solid transparent;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
  transition: 0.5s;
  cursor: pointer;
}

button:hover {
  border: 3px solid #8484D4;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
}
