.header {
  background-color: #CDCFDF;
  border-radius: 5px;
  padding: 20px 40px 20px 40px;
  margin-top: 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.navItems {
  display: flex;
  gap: 20px;
}
.nav span {
  background-color: #ECECEF;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #454564;
  transition: 0.5s;
}

.nav span:hover {
  background-color: #454564;
  color: #ECECEF;
}

.loginDiv {
  display: flex;
  gap: 20px;
}

.loginDiv p {
  color: #454564;
  font-weight: 500;
  margin: 0px;
  font-size: 1.2rem;
  cursor: default;
}